/*
  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : ionic 5 groceryee app
  Created : 10-Sep-2020
  This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2020-present initappz.
*/
.badge {
  background-color: #ff914d;
  color: #fff;
  padding: 5px;
  border-radius: 12px;
  font-size: 11px;
  position: absolute;
  margin-top: -12px;
  margin-left: 1;
  height: 24px;
  height: 1;
  width: auto;
margin-left: -10px;
}
